
@{
    ViewBag.Title = "SurveyOnFile";
    Layout = "~/Views/Shared/_Layout_Survey.cshtml";
}



OOOOOOOOOOOOOOOOOOOOOOOOOOPPPPPPPPPPPS!

<h1>YOU</h1> <br />
<h5>ALREADY</h5><br />
<h2>HAVE SURVEY</h2>